<!DOCTYPE html>

<html>
<head>
  <title>Etsy</title>
</head>
<body bgcolor="#F5F5F1" >
  <div class="site-head">
    <div class="logo">
      <img src="https://www.etsy.com/assets/dist/images/etsylogo.20150203215610.png">
    </div>
    <div class="search-bar">
      <form>
        <input type="text", border="none", color: "transparent">
      </form>
      <div class="search">
        <button class="search-button" type= "submit" value="Search">
          Search
        </button>
      </div>
    </div>
    <div class="browse-menu">
      <div class="browse-button">
        Browse
      </div>
    </div>
  </div>

  <div class="left">
    <div class = "left-head">
     <h3> Show results for: </h3>
    </div>

    <div class="sidebar" style = "position:relative">
      <div class="sidebar-top">
        <div class="sidebar-top-header">
          <h4> Item Type </h4>
        </div>

        <div class="sidebar-choices">
          <li><span class="side-button"> </span> All Items</li>
          <li><span class="side-button"> </span> Handmade</li>
          <li><span class="side-button"> </span> Vintage</li>
          <li><span class="side-button"> </span> Craft Supplies</li>
        </div>
      </div>

      <div class="sidebar-bottom">
        <div class="sidebar-top-header">
          <h4> Categories </h4>
        </div>

        <div class="bottom-choices">
          <div class="list-head">
            <h4>Handmade</h4>
          </div>
          <div class="list-choices">
            <li>Vintage</li>
            <li>From Home</li>
            <li>Yay! Whiskey!</li>
            <li>Cats?</li>
            <li>Straight Liquor</li>
            <li>Oh Yeah?</li>
            <li>Come at me Bro</li>
            <li>Toy</li>
            <li>Cookie</li>
            <li>Whiskey with Cookies?</li>
            <li>Aw Yiss</li>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="result-list">
  <% if @results %>
  <% @results.each do |l| %>
  <ol>
    <div class="box">
      <li>

        <div class="image">
          <img style= "height: 170px; width: 214px;" src=<%= l["Images"][0]["url_170x135"] %>>
        </div>

        <div class="name">
          <%= l["title"] %>
        </div>


        <div class="price">
          <span class= "currency-sym"> $ </span>
          <span class= "amount"> <%= l["price"]  %> </span>
          <span class= "currency-code"> USD </span>
        </div>

        <div class = "shop">
          <%= l["Shop"] %>
        </div>

      </li>
    </div>
  </ol>
  <% end %>
  <% end %>
</div>

</body>
</html>
