/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .site-head{
   background-color: white;
   width: 2000px;
   height: 80px;
 }
 .logo{
   padding-left: 10px;
   margin-right: 20px;
   padding-top: 23px;
   width: 75px;
 }
 .search-bar{
   height: 34px;
   width: 260px;
   padding-left: 106px;
   margin-top: -39px;
 }
 .search-bar form{
   background:transparent;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 10px;
   padding-right: 10px;
   border: 1px solid #CFCBC8;
   box-sizing: border-box;
   box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
 }
 .search{
   margin-left: 259px;
   margin-top: -34px;
 }
 .search-button{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 7px;
   padding-bottom: 8px;
   border: 1px solid;
   border-top-color: #54acc7;
   border-right-color: #4ca0ba;
   border-left-color: #4ca0ba;
   border-bottom-color: #4ca0ba;
   background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
   color: white;
   font-size: 15px;
   font-weight: bold;
 }

.browse-menu{
  margin-left: 480px;
  margin-top: -34px;
}

 .browse-button{
   font-family: arial, helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color: #666666;
   width: 78.25px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 7px;
   padding-bottom: 8px;
   border: 1px solid #C0C0C0;
 }
.left{
  position: relative;
  padding-top: 25px;
  margin-right: 28px;
}

.left-head{
  width: 224px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  margin-top: 1px;
  margin-bottom: 6px;

}

.sidebar{
  background-color: white;
  width: 224px;
  float: left;
  padding: 0 10px;
}

.siderbar-top{
  width: 194px;
  height: 119px;
  padding: 18px;
  border-bottom: 1px solid;
  border-color: #DFDFDF;
}

.sidebar-top-header{
  color: #666666;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 6px;
}

.sidebar-choices{
  list-style: none;
  color: #1692B3;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

.side-button{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #bcb7b3;
  margin-right: 6px;
  background: -webkit-linear-gradient(top, #FFFFFF 20%, #E9E9E8);
}

.bottom-choices{
  font-family: arial, helvetica, sans-serif;
}

.list-head{
  color: #0192B5;
  font-size: 13px;
  margin-top: 6px;
}
.list-choices{
  font-size: 13px;
  color: #0292B5;
  list-style: none;

}
.result-list{
  width: 980px;
  height: 3808px;
  margin-bottom: 14px;
  float: left;
}

.box{
  width: 224px;
  position: relative;
  margin-right: 28px;
  margin-bottom: 18px;
  float: left;
  list-style: none;
  border: 1px solid;
  border-color: white;
  background-color: white;
}

.image{
  align: center;
  border: 4px solid white;
  border-bottom: none;
}

.name{
  width: 210px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}

.price{
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  height: auto;
  color: #78C042;
  float: right;
}
