/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.left{
  position: relative;
  padding-top: 25px;
  margin-right: 28px;
}

.left-head{
  width: 224px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  margin-top: 1px;
  margin-bottom: 6px;

}

.sidebar{
  background-color: white;
  width: 224px;
  float: left;
  padding: 0 10px;
}

.siderbar-top{
  width: 194px;
  height: 119px;
  padding: 18px;
  border-bottom: 1px solid;
  border-color: #DFDFDF;
}

.sidebar-top-header{
  color: #666666;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 6px;
}

.sidebar-choices{
  list-style: none;
  color: #1692B3;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

.side-button{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #bcb7b3;
  margin-right: 6px;
  background: -webkit-linear-gradient(top, #FFFFFF 20%, #E9E9E8);
}

.bottom-choices{
  font-family: arial, helvetica, sans-serif;
}

.list-head{
  color: #0192B5;
  font-size: 13px;
  margin-top: 6px;
}

.result-list{
  width: 980px;
  height: 3808px;
  margin-bottom: 14px;
  float: left;
}

.box{
  width: 224px;
  position: relative;
  margin-right: 28px;
  margin-bottom: 18px;
  float: left;
  list-style: none;
  border: 1px solid;
  border-color: white;
  background-color: white;
}

.image{
  align: center;
  border: 4px solid white;
  border-bottom: none;
}

.name{
  width: 210px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}

.price{
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  height: auto;
  color: #78C042;
  float: right;
}
